/* Reset default margin and padding for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure the body fills the entire height of the viewport */
html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: transparent; /* Remove any default background color */
  transition-property: background-color;
  transition-duration: var(--chakra-transition-duration-normal);
  line-height: var(--chakra-lineHeights-base);
}
